# Homework
Baltimore City Crime Data

https://data.baltimorecity.gov/datasets/part1-crime-data/explore?showTable=true
## DataFrames:
1. Specify the schema for the crime data set. 
2. Read the file using the schema definition
3. Cache the DataFrame
4. Show the count of the rows
5. Print the schema
6. Display first 5 rows
7. Answer the following questions using DataFrame operations

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 36 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=83af688872adc3ecaeb1592f11d865ef4fdf7e276a9392b31047421c2271b124
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [71]:
from pyspark.sql.types import StructType, IntegerType, DateType, FloatType, StringType, StructField
#Columns:X	Y	RowID	CrimeDateTime	CrimeCode	Location	Description	Inside_Outside
#	Weapon	Post	District	Neighborhood	Latitude	Longitude	GeoLocation	Premise	
#VRIName	Total_Incidents	Shape
schema = StructType([
    StructField("X", FloatType()),
    StructField("Y", FloatType()),
    StructField("RowID", IntegerType()),
    StructField("CrimeDateTime", StringType()),
    StructField("CrimeCode", StringType()),
    StructField("Location", StringType()),
    StructField("Description", StringType()),
    StructField("Inside_Outside", StringType()),
    StructField("Weapon", StringType()),
    StructField("Post", StringType()),
    StructField("District", StringType()),
    StructField("Neighborhood", StringType()),
    StructField("Latitude", FloatType()),
    StructField("Longitude", FloatType()),
    StructField("GeoLocation", StringType()),
    StructField("Premise", StringType()),
    StructField("VRIName", StringType()),
    StructField("Total_Incidents", IntegerType()),
    StructField("Shape", IntegerType()),
])
df = spark.read.csv('Part1_Crime_data.csv', header=True, schema=schema)
df.show()
df.printSchema()

+---------+---------+-----+--------------------+---------+--------------------+--------------+--------------+-------+----+---------+--------------------+--------+---------+------------------+---------------+------------+---------------+-----+
|        X|        Y|RowID|       CrimeDateTime|CrimeCode|            Location|   Description|Inside_Outside| Weapon|Post| District|        Neighborhood|Latitude|Longitude|       GeoLocation|        Premise|     VRIName|Total_Incidents|Shape|
+---------+---------+-----+--------------------+---------+--------------------+--------------+--------------+-------+----+---------+--------------------+--------+---------+------------------+---------------+------------+---------------+-----+
|1420074.1| 594160.6|    1|2022/02/26 04:00:...|       4E|   200 W MONUMENT ST|COMMON ASSAULT|          null|     NA| 124|  CENTRAL|        MOUNT VERNON| 39.2975| -76.6193|(39.2975,-76.6193)|           null|        null|              1| null|
|1411374.2| 589791.4|    2|2022/02/26 01:26:...|       9S|  2100 FREDERICK AVE|      SHOOTING|       Outside|FIREARM| 835|SOUTHWEST|    CARROLLTON RIDGE| 39.2856| -76.6501|(39.2856,-76.6501)|COMMON BUSINESS|Tri-District|              1| null|
|1411401.1|582761.75|    3|2022/02/26 10:22:...|       4E|  2000 GRINNALDS AVE|COMMON ASSAULT|          null|     NA| 831|SOUTHWEST|        MORRELL PARK| 39.2663| -76.6501|(39.2663,-76.6501)|           null|        null|              1| null|
|1422663.1| 597595.4|    4|2022/02/26 01:11:...|       7A|     400 E OLIVER ST|    AUTO THEFT|          null|     NA| 313|  EASTERN|     GREENMOUNT WEST| 39.3069| -76.6101|(39.3069,-76.6101)|           null|        null|              1| null|
|1440496.5| 607767.1|    5|2022/02/26 12:30:...|       4B| 5300 PLAINFIELD AVE|  AGG. ASSAULT|          null|  KNIFE| 444|NORTHEAST|           FRANKFORD| 39.3346| -76.5469|(39.3346,-76.5469)|           null|        null|              1| null|
|1413036.1| 584625.7|    6|2022/02/26 05:40:...|       5F|    1300 WESTERN AVE|      BURGLARY|          null|     NA| 941| SOUTHERN|CARROLL - CAMDEN ...| 39.2714| -76.6443|(39.2714,-76.6443)|           null|        null|              1| null|
|1413036.1| 584625.7|    7|2022/02/26 05:40:...|       6G|    1300 WESTERN AVE|       LARCENY|          null|     NA| 941| SOUTHERN|CARROLL - CAMDEN ...| 39.2714| -76.6443|(39.2714,-76.6443)|           null|        null|              1| null|
|1413415.6| 588925.1|    8|2022/02/26 14:32:...|       4E|    1600 WILKENS AVE|COMMON ASSAULT|          null|     NA| 935| SOUTHERN|NEW SOUTHWEST/MOU...| 39.2832| -76.6429|(39.2832,-76.6429)|           null|Tri-District|              1| null|
|1417569.9| 597537.7|    9|2022/02/26 03:05:...|       4B|     300 MCMECHEN ST|  AGG. ASSAULT|          null|  KNIFE| 132|  CENTRAL|         BOLTON HILL| 39.3068| -76.6281|(39.3068,-76.6281)|           null|        null|              1| null|
|1435909.8| 608691.8|   10|2022/02/26 14:10:...|       4A|  3800 CEDARHURST RD|  AGG. ASSAULT|          null|FIREARM| 426|NORTHEAST|          WALTHERSON| 39.3372| -76.5631|(39.3372,-76.5631)|           null|        null|              1| null|
|1426723.8|613566.75|   11|2022/02/26 19:30:...|       4B|     1300 KITMORE RD|  AGG. ASSAULT|          null|  KNIFE| 413|NORTHEAST|       NEW NORTHWOOD| 39.3507| -76.5955|(39.3507,-76.5955)|           null|        null|              1| null|
|1399111.0| 608687.6|   12|2022/02/26 01:28:...|       4A|   4400 FERNHILL AVE|  AGG. ASSAULT|          null|FIREARM| 621|NORTHWEST|      WEST ARLINGTON| 39.3376| -76.6932|(39.3376,-76.6932)|           null|        null|              1| null|
|1399111.0| 608687.6|   13|2022/02/26 01:28:...|       4A|   4400 FERNHILL AVE|  AGG. ASSAULT|          null|FIREARM| 621|NORTHWEST|      WEST ARLINGTON| 39.3376| -76.6932|(39.3376,-76.6932)|           null|        null|              1| null|
|1399111.0| 608687.6|   14|2022/02/26 01:28:...|       4A|   4400 FERNHILL AVE|  AGG. ASSAULT|          null|FIREARM| 621|NORTHWEST|      WEST ARLINGTON| 39.3376| -76.6932|(39.3376,-76.6932)|           null|        null|              1| null|
|1401970.8| 607823.2|   15|2022/02/26 19:30:...|       4B|3900 W COLD SPRIN...|  AGG. ASSAULT|          null|  KNIFE| 623|NORTHWEST|            DOLFIELD| 39.3352| -76.6831|(39.3352,-76.6831)|           null|        null|              1| null|
|1422005.4|592566.06|   16|2022/02/26 20:45:...|       4A|    300 N CALVERT ST|  AGG. ASSAULT|          null|FIREARM| 111|  CENTRAL|            DOWNTOWN| 39.2931| -76.6125|(39.2931,-76.6125)|           null|        null|              1| null|
|1399111.0| 608687.6|   17|2022/02/26 01:28:...|       4A|   4400 FERNHILL AVE|  AGG. ASSAULT|          null|FIREARM| 621|NORTHWEST|      WEST ARLINGTON| 39.3376| -76.6932|(39.3376,-76.6932)|           null|        null|              1| null|
|1399111.0| 608687.6|   18|2022/02/26 01:28:...|       4A|   4400 FERNHILL AVE|  AGG. ASSAULT|          null|FIREARM| 621|NORTHWEST|      WEST ARLINGTON| 39.3376| -76.6932|(39.3376,-76.6932)|           null|        null|              1| null|
|1399111.0| 608687.6|   19|2022/02/26 01:28:...|       4A|   4400 FERNHILL AVE|  AGG. ASSAULT|          null|FIREARM| 621|NORTHWEST|      WEST ARLINGTON| 39.3376| -76.6932|(39.3376,-76.6932)|           null|        null|              1| null|
|1421674.0| 590597.8|   20|2022/02/26 10:30:...|       4E|        100 LIGHT ST|COMMON ASSAULT|          null|     NA| 113|  CENTRAL|       DOWNTOWN WEST| 39.2877| -76.6137|(39.2877,-76.6137)|           null|        null|              1| null|
+---------+---------+-----+--------------------+---------+--------------------+--------------+--------------+-------+----+---------+--------------------+--------+---------+------------------+---------------+------------+---------------+-----+
only showing top 20 rows

root
 |-- X: float (nullable = true)
 |-- Y: float (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: integer (nullable = true)

In [17]:
df.cache()

DataFrame[X: float, Y: float, RowID: int, CrimeDateTime: string, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: string, District: string, Neighborhood: string, Latitude: float, Longitude: float, GeoLocation: string, Premise: string, VRIName: string, Total_Incidents: int, Shape: int]

In [22]:
print("There are", df.count(), "rows!")

There are 513158 rows!

In [24]:
df.show(5)

+---------+---------+-----+--------------------+---------+-------------------+--------------+--------------+-------+----+---------+----------------+--------+---------+------------------+---------------+------------+---------------+-----+
|        X|        Y|RowID|       CrimeDateTime|CrimeCode|           Location|   Description|Inside_Outside| Weapon|Post| District|    Neighborhood|Latitude|Longitude|       GeoLocation|        Premise|     VRIName|Total_Incidents|Shape|
+---------+---------+-----+--------------------+---------+-------------------+--------------+--------------+-------+----+---------+----------------+--------+---------+------------------+---------------+------------+---------------+-----+
|1420074.1| 594160.6|    1|2022/02/26 04:00:...|       4E|  200 W MONUMENT ST|COMMON ASSAULT|          null|     NA| 124|  CENTRAL|    MOUNT VERNON| 39.2975| -76.6193|(39.2975,-76.6193)|           null|        null|              1| null|
|1411374.2| 589791.4|    2|2022/02/26 01:26:...|       9S| 2100 FREDERICK AVE|      SHOOTING|       Outside|FIREARM| 835|SOUTHWEST|CARROLLTON RIDGE| 39.2856| -76.6501|(39.2856,-76.6501)|COMMON BUSINESS|Tri-District|              1| null|
|1411401.1|582761.75|    3|2022/02/26 10:22:...|       4E| 2000 GRINNALDS AVE|COMMON ASSAULT|          null|     NA| 831|SOUTHWEST|    MORRELL PARK| 39.2663| -76.6501|(39.2663,-76.6501)|           null|        null|              1| null|
|1422663.1| 597595.4|    4|2022/02/26 01:11:...|       7A|    400 E OLIVER ST|    AUTO THEFT|          null|     NA| 313|  EASTERN| GREENMOUNT WEST| 39.3069| -76.6101|(39.3069,-76.6101)|           null|        null|              1| null|
|1440496.5| 607767.1|    5|2022/02/26 12:30:...|       4B|5300 PLAINFIELD AVE|  AGG. ASSAULT|          null|  KNIFE| 444|NORTHEAST|       FRANKFORD| 39.3346| -76.5469|(39.3346,-76.5469)|           null|        null|              1| null|
+---------+---------+-----+--------------------+---------+-------------------+--------------+--------------+-------+----+---------+----------------+--------+---------+------------------+---------------+------------+---------------+-----+
only showing top 5 rows

# Following Questions:
1. What are distinct crime codes?

In [33]:
import pyspark.sql.functions as func
df.select("CrimeCode").distinct().sort("CrimeCode").show()

+---------+
|CrimeCode|
+---------+
|       1A|
|       1K|
|       1O|
|       2A|
|       2B|
|      3AF|
|     3AJF|
|     3AJK|
|     3AJO|
|      3AK|
|      3AO|
|       3B|
|      3BJ|
|       3C|
|      3CF|
|      3CK|
|      3CO|
|       3D|
|       3E|
|      3EF|
+---------+
only showing top 20 rows

2. Count the number of crimes by the crime codes and order by the resulting counts in descending order

In [44]:
df.select("CrimeCode").groupBy("CrimeCode").count().orderBy("count", ascending = False).show(10)

+---------+-----+
|CrimeCode|count|
+---------+-----+
|       4E|91650|
|       6D|68427|
|       5A|43928|
|       7A|40274|
|       6J|27636|
|       6G|26858|
|       6E|24300|
|       6C|23227|
|       4C|22438|
|       5D|14971|
+---------+-----+
only showing top 10 rows

3. Which neighborhood had most crimes?

In [45]:
df.select("Neighborhood").groupBy("Neighborhood").count().orderBy("count", ascending = False).show(1)

+------------+-----+
|Neighborhood|count|
+------------+-----+
|    DOWNTOWN|17799|
+------------+-----+
only showing top 1 row

Downtown had the most

4. Which month of the year had most crimes?

In [74]:
#Converting the string to datetime was tedious and tiring so imma do this instead
df = df.withColumn('Month', func.substring('CrimeDateTime', 6,2))
df.printSchema()
df.show(truncate=False)

root
 |-- X: float (nullable = true)
 |-- Y: float (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: integer (nullable = true)
 |-- Month: string (nullable = true)

+---------+---------+-----+----------------------+---------+---------------------+--------------+--------------+-------+----+---------+--------------------------------+--------+---------+------------------+---------------+------------+---------------+-----+-----+
|X        |Y        |RowID|CrimeDateTime         |CrimeCode|Location             |Description   |Inside_Outside|Weapon |Post|District |Neighborhood                    |Latitude|Longitude|GeoLocation       |Premise        |VRIName     |Total_Incidents|Shape|Month|
+---------+---------+-----+----------------------+---------+---------------------+--------------+--------------+-------+----+---------+--------------------------------+--------+---------+------------------+---------------+------------+---------------+-----+-----+
|1420074.1|594160.6 |1    |2022/02/26 04:00:00+00|4E       |200 W MONUMENT ST    |COMMON ASSAULT|null          |NA     |124 |CENTRAL  |MOUNT VERNON                    |39.2975 |-76.6193 |(39.2975,-76.6193)|null           |null        |1              |null |02   |
|1411374.2|589791.4 |2    |2022/02/26 01:26:30+00|9S       |2100 FREDERICK AVE   |SHOOTING      |Outside       |FIREARM|835 |SOUTHWEST|CARROLLTON RIDGE                |39.2856 |-76.6501 |(39.2856,-76.6501)|COMMON BUSINESS|Tri-District|1              |null |02   |
|1411401.1|582761.75|3    |2022/02/26 10:22:00+00|4E       |2000 GRINNALDS AVE   |COMMON ASSAULT|null          |NA     |831 |SOUTHWEST|MORRELL PARK                    |39.2663 |-76.6501 |(39.2663,-76.6501)|null           |null        |1              |null |02   |
|1422663.1|597595.4 |4    |2022/02/26 01:11:00+00|7A       |400 E OLIVER ST      |AUTO THEFT    |null          |NA     |313 |EASTERN  |GREENMOUNT WEST                 |39.3069 |-76.6101 |(39.3069,-76.6101)|null           |null        |1              |null |02   |
|1440496.5|607767.1 |5    |2022/02/26 12:30:00+00|4B       |5300 PLAINFIELD AVE  |AGG. ASSAULT  |null          |KNIFE  |444 |NORTHEAST|FRANKFORD                       |39.3346 |-76.5469 |(39.3346,-76.5469)|null           |null        |1              |null |02   |
|1413036.1|584625.7 |6    |2022/02/26 05:40:00+00|5F       |1300 WESTERN AVE     |BURGLARY      |null          |NA     |941 |SOUTHERN |CARROLL - CAMDEN INDUSTRIAL AREA|39.2714 |-76.6443 |(39.2714,-76.6443)|null           |null        |1              |null |02   |
|1413036.1|584625.7 |7    |2022/02/26 05:40:00+00|6G       |1300 WESTERN AVE     |LARCENY       |null          |NA     |941 |SOUTHERN |CARROLL - CAMDEN INDUSTRIAL AREA|39.2714 |-76.6443 |(39.2714,-76.6443)|null           |null        |1              |null |02   |
|1413415.6|588925.1 |8    |2022/02/26 14:32:00+00|4E       |1600 WILKENS AVE     |COMMON ASSAULT|null          |NA     |935 |SOUTHERN |NEW SOUTHWEST/MOUNT CLARE       |39.2832 |-76.6429 |(39.2832,-76.6429)|null           |Tri-District|1              |null |02   |
|1417569.9|597537.7 |9    |2022/02/26 03:05:00+00|4B       |300 MCMECHEN ST      |AGG. ASSAULT  |null          |KNIFE  |132 |CENTRAL  |BOLTON HILL                     |39.3068 |-76.6281 |(39.3068,-76.6281)|null           |null        |1              |null |02   |
|1435909.8|608691.8 |10   |2022/02/26 14:10:00+00|4A       |3800 CEDARHURST RD   |AGG. ASSAULT  |null          |FIREARM|426 |NORTHEAST|WALTHERSON                      |39.3372 |-76.5631 |(39.3372,-76.5631)|null           |null        |1              |null |02   |
|1426723.8|613566.75|11   |2022/02/26 19:30:00+00|4B       |1300 KITMORE RD      |AGG. ASSAULT  |null          |KNIFE  |413 |NORTHEAST|NEW NORTHWOOD                   |39.3507 |-76.5955 |(39.3507,-76.5955)|null           |null        |1              |null |02   |
|1399111.0|608687.6 |12   |2022/02/26 01:28:00+00|4A       |4400 FERNHILL AVE    |AGG. ASSAULT  |null          |FIREARM|621 |NORTHWEST|WEST ARLINGTON                  |39.3376 |-76.6932 |(39.3376,-76.6932)|null           |null        |1              |null |02   |
|1399111.0|608687.6 |13   |2022/02/26 01:28:00+00|4A       |4400 FERNHILL AVE    |AGG. ASSAULT  |null          |FIREARM|621 |NORTHWEST|WEST ARLINGTON                  |39.3376 |-76.6932 |(39.3376,-76.6932)|null           |null        |1              |null |02   |
|1399111.0|608687.6 |14   |2022/02/26 01:28:00+00|4A       |4400 FERNHILL AVE    |AGG. ASSAULT  |null          |FIREARM|621 |NORTHWEST|WEST ARLINGTON                  |39.3376 |-76.6932 |(39.3376,-76.6932)|null           |null        |1              |null |02   |
|1401970.8|607823.2 |15   |2022/02/26 19:30:00+00|4B       |3900 W COLD SPRING LN|AGG. ASSAULT  |null          |KNIFE  |623 |NORTHWEST|DOLFIELD                        |39.3352 |-76.6831 |(39.3352,-76.6831)|null           |null        |1              |null |02   |
|1422005.4|592566.06|16   |2022/02/26 20:45:00+00|4A       |300 N CALVERT ST     |AGG. ASSAULT  |null          |FIREARM|111 |CENTRAL  |DOWNTOWN                        |39.2931 |-76.6125 |(39.2931,-76.6125)|null           |null        |1              |null |02   |
|1399111.0|608687.6 |17   |2022/02/26 01:28:00+00|4A       |4400 FERNHILL AVE    |AGG. ASSAULT  |null          |FIREARM|621 |NORTHWEST|WEST ARLINGTON                  |39.3376 |-76.6932 |(39.3376,-76.6932)|null           |null        |1              |null |02   |
|1399111.0|608687.6 |18   |2022/02/26 01:28:00+00|4A       |4400 FERNHILL AVE    |AGG. ASSAULT  |null          |FIREARM|621 |NORTHWEST|WEST ARLINGTON                  |39.3376 |-76.6932 |(39.3376,-76.6932)|null           |null        |1              |null |02   |
|1399111.0|608687.6 |19   |2022/02/26 01:28:00+00|4A       |4400 FERNHILL AVE    |AGG. ASSAULT  |null          |FIREARM|621 |NORTHWEST|WEST ARLINGTON                  |39.3376 |-76.6932 |(39.3376,-76.6932)|null           |null        |1              |null |02   |
|1421674.0|590597.8 |20   |2022/02/26 10:30:00+00|4E       |100 LIGHT ST         |COMMON ASSAULT|null          |NA     |113 |CENTRAL  |DOWNTOWN WEST                   |39.2877 |-76.6137 |(39.2877,-76.6137)|null           |null        |1              |null |02   |
+---------+---------+-----+----------------------+---------+---------------------+--------------+--------------+-------+----+---------+--------------------------------+--------+---------+------------------+---------------+------------+---------------+-----+-----+
only showing top 20 rows

In [75]:
df.select("Month").groupBy("Month").count().orderBy("count", ascending = False).show(1)

+-----+-----+
|Month|count|
+-----+-----+
|   08|46327|
+-----+-----+
only showing top 1 row

August had the most

5. What weapons were used?

The following are the various weapons used

In [77]:
df.select("Weapon").distinct().sort("Weapon").show()

+-------+
| Weapon|
+-------+
|   null|
|   FIRE|
|FIREARM|
|  HANDS|
|  KNIFE|
|     NA|
|  OTHER|
+-------+

If this question is asking what weapon was used that month:

In [81]:
df.select("Weapon").where("Month == 08").show()

+------+
|Weapon|
+------+
|    NA|
|    NA|
|    NA|
|    NA|
|    NA|
|    NA|
|    NA|
|    NA|
| OTHER|
|    NA|
|    NA|
|    NA|
|    NA|
| KNIFE|
|    NA|
|    NA|
| OTHER|
| KNIFE|
| KNIFE|
|    NA|
+------+
only showing top 20 rows

6. Which weapon was used the most?

If im assuming, the question means what weapon is used the most:

In [94]:
df.select("Weapon").groupBy("Weapon").count().orderBy("count", ascending = False).collect()[1]
#Have to use collect cause I CANT SUBSCRIPT ANYTHING IN THIS $#%@*^ THING

Row(Weapon='FIREARM', count=46139)

If the Question is refering to what was the most used weapon in aughust

In [95]:
df.select("Weapon").where("Month == 08").groupBy("Weapon").count().orderBy("count", ascending = False).collect()[1]

Row(Weapon='FIREARM', count=4534)